emaihead
  meta(name='viewport' content='width=device-width')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title Smart Rabbit - Reset Password
div(style="max-width:600px;background-color:#fff;margin:auto;font-family:'Arial';padding:0px;font-size:14px;font-weight:300;line-height:22px;color:#46535e")
  center
    table(border='0' cellpadding='0' cellspacing='0' style='padding:5px 5px 0px 5px;margin:0px' width='100%')
      tbody
        tr
          td(align='middle' valign='top')
            table(border='0' cellpadding='0' cellspacing='0' width='100%')
              tbody
                tr
                  td(align='center' height='30' valign='middle')
                    img(alt='SmartRabbit' height='64' src='http://localhost:4000/public/resources/images/logo_x5.png' style='display:block;width:64;height:64' width='64')
                    h1(style='font-size:24px;color: #2A4D69;')
                      | SMART RABBIT
        tr
          td(align='left' style='padding:10px 0px' valign='top' width='100%')
            div(style='margin-top: 0;font-size:14px!important;line-height:24px;color:#46535e;padding:0 15px')
              | Hi #{name},
              br
              p
              div(style='font-weight:bold;display:inline')
                | Maybe, you have forgot your password?
              |                   Don&apos;t worry, click below link to reset your password.
              p
              div(style='margin-top:30px; text-align: center;')
                a(href=url style='text-decoration:none;padding:10px 20px;font-size:13px;font-weight:700;background-color:#f60;border-radius:3px;color:#fff;text-transform:uppercase;margin-top:10px' target='_blank' data-saferedirecturl='https://www.google.com/url?q=http://email.hackerearth.com/wf/click?upn%3DHsHw7feEycC-2FCGLSSwQNiUXaJDbX6-2BAG1smJls48AsAeyKF3NHgDQg84EXjnf875bh8WFmOM-2FYZD2tOefp6mrf4u0-2B2oB-2Fm8dmqxU0HZ1YferMf2SJRjhWZrNxxyhfTcAo-2Bxw5Pfqx20ttSJHkJbfhJUnhOKkTnPpPz-2FQcR7WRlyMQQCTSr5lK-2BFFjBirg7EQUpPAqIw27nd60LkZbV8GljXPL1JzTiOkqAiGkUStf3iyUV5YaRpcPus7NygSWox8Fe44yPNNBV4z1T1HldKDouI7YbjP-2BEMu3oUyXOy1xR5gwePJyy3kQUoKd2gs-2F6X-2Bg-2Bf-2BIe-2FnUejev7rtY-2FItaHCWPBLiGkCJZEBOS3XKLrr0mbXd2uRNKPSNrWwzqeEPXHWAC0pn7jY04xDCwqTpjgdbwvZJk-2BQu2wG0PisWysFOZCkC9qZ-2BOyfsCJVATcuQ4jFX1eF8H-2Ba7hUQ0w5fmKhKK-2Fp286G-2BNLWBHzd0sjXFOr0xgTbpRYXaLTBoOHN6YAdd19s3glHaqnVsU62cpw-3D-3D_rzUKs5KbeeATktH27dfUTVYAWNmrE155xDi3-2FAk58ow-2FNiefwKmj5YoD62C7h87DJVM-2FaPAb9EhJl96pDPSQqejkIAXuGIpPVrPnF25UaVSG8TpMG5TqDesm5P01ozp1tp5CbGGwsgX0LRT1qUea1qYDMe27NyhGTWF2G5L687QU7qcKtURrcKcYghvAMUqoc25Yrj13VkxJsUcTdw5t5rcumb-2F-2B9O7qqBXNIft5L6qj-2F8SiuYdiBGiEqRj-2B7Vgk-2BW-2BmMkdj7IglRwloGtNGY9-2B78GDW-2F7rqZXMGEYXWg6cNfkvusNjqNKgrcJr2kPtvabXjgnRnZbiJC2HEvi77lg-3D-3D&source=gmail&ust=1573468870995000&usg=AFQjCNFsUZG8BG7ovIi-oe9dVuWmPMMI0g') Reset pasword
              div(style='margin-top:30px')
                | All the best! And Have A Nice Day :D
              div(style='margin-top:15px;font-size:13px')
                div Regards,
                div Team SmartRabbit
        tr
          td(align='left' valign='top')
            div(style='padding: 0px 15px;')
              p(style='font-size: 12px; font-weight: 300; font-style: italic;')
                | If you don&apos;t request reset your password, please update your
                | password and ignore this email.
